* {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #7D7F85
}

main {
    width: 800px;
    margin: 0 auto;
}

header {
    height: 260px;
    width: 100%;
}

h2 {
    background-color: #1A3B98;
    color: #AF0215
}

.left {
    height: 600px;
    width: 20%;
    background-color: #1A3B98;
    float: left;
    text-align: center;
}

.right {
    background-color: #C2C3C2;
    text-align: center;
    color: #886829;
    height: 560px;
    width: 80%;
    float: right;
    margin-top: 40px;
}

footer {
    text-align: center;
    color: white;
    width: 100%;
    background-color: #1A3B98;
}

a {
    text-decoration: none;
}

table {
    width: 500px;
    margin: 0 auto;
}

th {
    background-color: #777777;
    color: black;
}

td:nth-child(even) {
    background-color: #AAAAAA;
}

#BMI {
    font-size: 20px;
    color: #886829;
}

#kategoria {
    font-size: 50px;
    color: #886829;
}
